body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  vertical-align: middle;
}

header{
  display: flex;
  height: 69px;
  width:100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
  position: fixed;
  text-decoration: underline;
}

header .headers {
  display: inline-block;
  text-align: right;
}


.logo{
  display: flex;
  align-items: center;
  flex-grow:1;
  padding-left: 10px;
}

.logo img{
  height: 50px;
  margin-left: 10px;
}

.mission-img{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.mission h2
h4{
  text-align: center;
}

.teas{
  display: flex;
  align-items: center;
  position:fixed;
  width: 1000px;
}

.teas .image-content{
  display:flex;
  align-items: center;
  position:fixed;
  width:300px;
  height:200px;
  padding-bottom: 10px;
}

.berry{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg");
}

.rum{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg");
}

.donuts{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg");
}

.myrtle{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg");
}

.bedford{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg");
}

.location {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
}

.places{
  display: flex;
  opacity: 1;
  width: 300px;
}

.bayside{
  padding-left: 40px;;
  padding-right: 40px;
}

.copyright{
  text-align: left;
  padding-left: 20px;
}
